<!DOCTYPE html>
<html>
  <head>
    <title>MarketPlace</title>
    <!-- Title of the web page -->

    <!-- Link to an external stylesheet (CSS) -->
  </head>
  <body>
    <p>{"Message": "Welcome to Dress Store application."} </p>
    <!-- Paragraph element containing a message -->
  </body>
</ht
